#title{
    font-size: 100px;
    text-align: center;
}

.crystal {
    width: 15%;
    display: inline-block;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
}

.instructions{
    padding-top: 10px;
    padding-bottom: 10px;
}

#instructionsList{
    background-color: black;
    color: white;
    text-align: center;
    font: bold;
    font-size: 20px;
}

.numbers{
    background-color: gray;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    text-align: center;
}

#wins{
    color: green;
    background-color: black;
}

#losses{
    color: red;
    background-color: black;
}

#buttons{
    text-align: center;
}